<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>리뷰 작성</title>
</head>
<body>
<h1>리뷰 작성</h1>
<form method="post">
  <input type="text" name="storeName" placeholder="매장명을 입력해주세요." required>
  <br>
  <input type="text" name="storeLocation" placeholder="매장 위치를 입력해주세요." required>
  <br>
  <input type="text" name="storeDescription" placeholder="매장에 대한 상세 정보를 입력해주세요." required>
  <br>
  <input type="text" name="username" placeholder="파트너님의 아이디를 입력해주세요." required>
  <br>
  <div>
    <button type="submit">매장 등록</button>
  </div>
</form>
</body>
</html>